body{
    height: 100vh;
    font-size: 2vw;
    font-family: 'Ferguson Sans';
    color: white;
    background-color:#EF323D ;
    animation: blur 3s;
    overflow: hidden;
}

#title h1{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#title h2{
    display: flex;
    margin: 0;
    font-size: 100%;
    align-items: center;
    justify-content: center;
}

#title{
    position: relative;
    top: 20%;
}

.loading{
    width: 10vw;
    height: 2vh;
    background-color: white;
    animation: load 5s ease-in-out infinite;
}
@keyframes load {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.bar{
    position: relative;
    width: 60vw;
    left: 20%;
    top: 50vh;
    border: solid 2px;
}
@keyframes blur {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}