body {
    margin: 0;
    background: #000000;
    width: 100vw;
    height: 134vh;
    position: relative;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.bg-img {
    align-self: stretch;
    flex: 1;
    position: relative;
}

.separator {
    align-self: stretch;
    flex-shrink: 0;
    height: 19px;
    position: relative;
}

section {
    background: #3c3c3c;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.separatorLine:nth-child(1)
{
    background: #ededed;
    border: solid #000000;
    border-width: 2px 0px 0px 0px;
    height: 5px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}

.separatorLine:nth-child(2)
{
    background: #f8f7f7;
    height: 3px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 5px;
}

.separatorLine:nth-child(3)
{
    background: #c6c6c6;
    border: solid #000000;
    border-width: 0px 0px 2px 0px;
    height: 11px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 8px;
}

.items-Container {
    display: flex;
    flex-direction: row;
    gap: 51px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 573px;
    position: absolute;
    left: calc(50% - 286px);
    top: 54.5px;
}

.items-style {
    background: url(./images/button.png);
    background-size: contain;
    flex-shrink: 0;
    width: 157px;
    height: 156px;
    position: relative;
    overflow: hidden;
}

.item-img {
    width: 102px;
    position: absolute;
    right: 27px;
    left: 27px;
    bottom: 28px;
    top: 26px;
    overflow: hidden;
    transition: 100ms ease-in-out, color 100ms ease-in-out;
}

.item-img:hover {
    top: 18px;
}

.items-style:nth-child(1) .item-img
{
    background: url(./images/frame-11.png);
    background-size: contain;
}
.items-style:nth-child(2) .item-img
{
    background: url(./images/frame-4.png);
    background-size: contain;
}
.items-style:nth-child(3) .item-img
{
    background: url(./images/paper.png);
    background-size: contain;
}

.bg-img {
    filter: blur(5px);
}

.skinleft
{
    width: 295px;
    height: 528px;
    position: absolute;
    left: 17px;
    top: calc(50% - 261px);
    overflow: hidden;
}

.skinright
{
    width: 295px;
    height: 528px;
    position: absolute;
    right: 17px;
    top: calc(50% - 261px);
    overflow: hidden;
}

.heartListLeft {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 50px;
    top: calc(50% - 437px);
}

.rowLeft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.rowLeft img{
    flex-shrink: 0;
    width: 58px;
    height: 50px;
    position: relative;
}

.heartListRight {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 50px;
    top: calc(50% - 437px);
}

.rowRight {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.rowRight img {
    flex-shrink: 0;
    width: 58px;
    height: 50px;
    position: relative;
}

.leftItemHand
{
    width: 146px;
    height: 146px;
    position: absolute;
    left: 215px;
    top: calc(50% - 62px);
    overflow: hidden;
}

.rightItemHand
{
    width: 146px;
    height: 146px;
    position: absolute;
    right: 215px;
    top: calc(50% - 62px);
    overflow: hidden;
}

.redHeart {
    content: url(./images/heartActive.png);
}